# 📦 Node.js
node_modules/
package-lock.json

# 🧪 Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/results/

# 📁 Relatórios de Testes
allure-results/
mochawesome-report/
mochawesome.json
cypress/reports/

# ⚙️ Arquivos de ambiente
.env
.env.*
cypress.env.json

# 💻 Arquivos de sistema e IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/

# 🧹 Logs e arquivos temporários
*.log
*.tmp
